In [1]:
import bs4
import urllib.request as url

In [2]:
http = url.urlopen('http://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=2;id=6;type=team')

In [3]:
http

In [4]:
page = bs4.BeautifulSoup(http, 'lxml')

In [42]:
table = page.find('table',class_='engineTable')

In [43]:
tableText = table.text

In [44]:
tableText = tableText.split("\n\n\n")

In [45]:
del tableText[0]

In [46]:
for i in range(len(tableText)):
    tableText[i] = tableText[i].split("\n")

In [48]:
del tableText[1][0]

In [49]:
tableText[1]

['VR Aaron',
 '2011-2014',
 '9',
 '3',
 '2',
 '8',
 '6*',
 '8.00',
 '15',
 '53.33',
 '0',
 '0',
 '1',
 '1',
 '0']

In [37]:
import pandas as pd

In [50]:
df = pd.DataFrame(tableText)

In [51]:
df.shape

(229, 15)

In [52]:
# will print first 5 observations
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
1,VR Aaron,2011-2014,9,3,2,8,6*,8.00,15,53.33,0,0,1,1,0
2,S Abid Ali,1974-1975,5,3,0,93,70,31.00,132,70.45,0,1,0,6,1
3,AB Agarkar,1998-2007,191,113,26,1269,95,14.58,1574,80.62,0,3,10,103,22
4,KK Ahmed,2018-2019,11,3,1,9,5,4.50,17,52.94,0,0,0,1,0

In [53]:
df.columns = df.iloc[0]

In [54]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
1,VR Aaron,2011-2014,9,3,2,8,6*,8.00,15,53.33,0,0,1,1,0
2,S Abid Ali,1974-1975,5,3,0,93,70,31.00,132,70.45,0,1,0,6,1
3,AB Agarkar,1998-2007,191,113,26,1269,95,14.58,1574,80.62,0,3,10,103,22
4,KK Ahmed,2018-2019,11,3,1,9,5,4.50,17,52.94,0,0,0,1,0

In [57]:
df.drop(index=0,inplace=True)

In [58]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
1,VR Aaron,2011-2014,9,3,2,8,6*,8.00,15,53.33,0,0,1,1,0
2,S Abid Ali,1974-1975,5,3,0,93,70,31.00,132,70.45,0,1,0,6,1
3,AB Agarkar,1998-2007,191,113,26,1269,95,14.58,1574,80.62,0,3,10,103,22
4,KK Ahmed,2018-2019,11,3,1,9,5,4.50,17,52.94,0,0,0,1,0
5,M Amarnath,1975-1989,85,75,12,1924,102*,30.53,3334,57.70,2,13,2,123+,9+