In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost:27017')
db = client.db_pandas

In [10]:
cursor = db.employees.find()

In [11]:
data = []
for row in cursor:
    data.append(row)

In [12]:
import pandas as pd

In [13]:
pd.DataFrame(data)

                        _id      desig     id location   name      sal
0  5d58e8dd77364ff188666905         HR  101.0     Pune    Ram  45000.0
1  5d58e8f177364ff188666906  Developer  102.0    Delhi  Shyma  35000.0
2  5d58e91377364ff188666907    Manager  102.0      NaN  Gopal  25000.0